body{
    padding: 0;
    margin: 0;
}

.sub-headings{
    font-size: 52px;
    letter-spacing: 5px;
}

.slider{
    height: 500px;
    background: url("http://www.becketts.ie/images/banner7.jpg");
    background-size: cover;
}

.features{
    margin-top: 50px;
}

.packages{
    padding: 60px 0;
}